*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #1A0B2E;
    color: white;
    width: 1600px;
    margin: 0 auto;
    
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}
.nav-container ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    
}
.nav-container a {
    text-decoration: none;
}
.nav-container h2{
    font-size: 2rem;
}
.hero-container{
    width: 1600px;
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    margin: 0 auto;
    position: relative;
}

.hero-img{
    position: relative;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
    
}
.hero-circle{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hero-microphone{
    width: 116px;
    height: 175px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
span{
    background-color: #00FF88;
    font-size: 1.5rem;
    font-weight: 800;
    position: absolute;
    border-radius: 40px;
    padding:3px 10px 3px 10px;
    left:840px;
    top: -185px;
}

.hero-info{
    text-align: center;
    color: white;
    padding-top: 500px;
}
.banner-button{
    width: 356px;
    height: 44px;
    margin: 0 auto;
    text-align: center;

}
.hero-info h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.btn-2:hover{
    background-color: gray;
}
.btn-1:hover{
    background:gray; 
}
.btn-1{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    border: none;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px;
    color: white;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
}
.btn-2{
    background-color: #1A0B2E;
    color: #00FF88;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}


    